.login_as_button{
  font-family: Serif;
  background-color: antiquewhite;
  border: none;
  color: black;
  border-radius: 8px;
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 17px;
  border: 2px solid black;
  transition-duration: 400ms;
}

.login_as_button:hover{
  background-color: #3a3d0e;
  color: antiquewhite;  
}

#login_as_div{
    background-image: url("https://i.sstatic.net/jGlzr.png");
    width: 250px;

    margin-inline: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);;
    border-radius: 10px;
    border: 2px solid;
    border-color: antiquewhite;
}

#login_as{
    font-family: serif;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px black;
}

body{
  background-image: url("https://wallpapers.com/images/high/bank-background-id6bcxupe69mlzbl.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}